* {
  font-family: sans-serif;
}

.grid-area {
  table {
    max-width: 800px;
    margin: auto;
    user-select: none;
    td {
      width: 20px;
      height: 20px;
      &.selected {
        color: rgb(202, 80, 24);
      }
    }
  }
}

.hidden-warning {
  display: none;
}

.active-warning {
  display: inline;
  color: #ee0000;
}
